/* html, body {
    overflow-x: hidden;
    width: 100%;
} */

body{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    color:rgba(0,0,0,.7);
    display: block;
    font-family: "Quicksand", Arial, sans-serif;
    height: 100%;
    /* background-color: #f6f6f6; */
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-family: playfair display,Georgia,serif;
    font-weight: 400;
}

.my-container{
    max-width: 1170px;
    margin: 0 auto;
    /* background-color: greenyellow; */
}

aside{
    position: fixed;
    width: 300px;
    height: 100vh;
    background: #f2f3f7;
    overflow-y: scroll;
    z-index: 1001;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding-top: 3em;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: minmax(min-content, max-content);
    grid-area: aside;
    outline: none;
}
aside .text-center{
    text-align: center;
}
aside .text-center .author-img{
    background-image: url(./photo1.jpg);
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
aside .text-center .full-name{
    display: flex;
    justify-content: center;
    align-items: center;
}
aside .text-center .full-name a{
    color: #000;
    transition: .5s;
    text-decoration: none;
    background-color: transparent;
    font-weight: 700;
    font-size: 22px;
    padding: 0;
}

aside .text-center .position{
    display: block;
    margin-bottom: 2em;
    font-size: 12px;
    text-transform: uppercase;
}

aside .text-center .position a {
    text-decoration: none;
    transition: .5s;
    color: #2c98f0;
    background-color: transparent;
}

aside .nav ul{
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

aside .nav ul li{
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

aside .nav ul li a{
    margin: 0 0 10px 0;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    outline: none;
    transition: 0.3s;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    font-family: "Quicksand", Arial, sans-serif;
    cursor: pointer;
}

aside .nav ul li a.active{
    color: #2c98f0;
}

aside .nav ul li a.anchor:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0px;
    transition: width .5s ease, background-color .5s ease;
}

aside .nav ul li a.anchor:hover:after {
    width: 100%;
    background: #2c98f0;
}

aside .nav ul li a.anchor:hover {
    color:black;
}

aside .nav ul li a.active:after {
    width: 100%;
    background: #2c98f0;
}

aside .footer{
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    padding: 0 20px;
    width: 100%;
}

main{
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-areas: 
        'aside about-wrap'
        'aside experience-wrap'
        'aside education-wrap'
        'aside skills-wrap'
        'aside portfolio-wrap'
        'aside contact-wrap';
    grid-auto-rows: minmax(min-content, max-content);
}

main > * {
    max-width: 100%;
    overflow: hidden;
}

main .about-wrap{
    padding-top: 4em;
    grid-area: about-wrap;
    padding: 2.5em;
    /* padding-bottom: 9em; */
}
main .experience-wrap{
    padding-top: 4em;
    grid-area: experience-wrap;
    padding: 2.5em;
    padding-bottom: 9em;
}
main .education-wrap{
    padding-top: 4em;
    grid-area: education-wrap;
    padding: 2.5em;
    padding-bottom: 9em;
}
main .skills-wrap{
    padding-top: 4em;
    grid-area: skills-wrap;
    padding: 2.5em;
    padding-bottom: 9em;
}

main .portfolio-wrap{
    padding-top: 4em;
    grid-area: portfolio-wrap;
    padding: 2.5em;
    padding-bottom: 9em;
}

main .contact-wrap{
    padding-top: 4em;
    grid-area: contact-wrap;
    padding: 2.5em;
    padding-bottom: 9em;
}

main .heading-meta{
    font-size: 18px;
    margin-bottom: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.8;
    /* position: relative; */
}

main .my-skills{
    height: 500px;
    display: flex;
    overflow-y: scroll;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

main .experience-wrap .vertical-timeline-element--work .vertical-timeline-element-date {
    color: black;
}

main .contact-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem;
    background-color: #f2f3f7;
}

main .contact-wrap .contact{
    margin-right: 20px;
}

main .education-wrap .my-header-class{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Quicksand", Arial, sans-serif;
}

main .skills-wrap .my-header-class{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Quicksand", Arial, sans-serif;
}

main .portfolio-wrap .my-header-class{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Quicksand", Arial, sans-serif;
}

.my-menu{
    display: none;
}
.burger{display: none;}
.button-ganggu{
    display: none;
}
.overlay-ganggu{
    display: none;
}

.ul-vertical-timeline-content li {
    text-align: justify;
    text-justify: inter-word;
}

.p-vertical-timeline-content li {
    text-align: justify;
    text-justify: inter-word;
}

.ul-skills-content li {
    text-align: justify;
    text-justify: inter-word;
}

.panel-education-content {
    text-align: justify;
    text-justify: inter-word;
}

@media only screen and (max-width: 768px) {
    .ul-vertical-timeline-content li {
        text-align: left;
    }
    .p-vertical-timeline-content li {
        text-align: left;
    }
    .ul-skills-content li {
        text-align: left;
    }
    .panel-education-content {
        text-align: left;
    }
    aside{
        display: none;
    }
    main{
        grid-template-columns: auto;
        grid-template-areas:
            'nav'
            'about-wrap'
            'experience-wrap'
            'education-wrap'
            'skills-wrap'
            'portfolio-wrap'
            'contact-wrap';
        /* grid-auto-rows: minmax(min-content, max-content); */
    }
    main .burger{
        grid-area: nav;
        padding-top: 2.5em;
        padding-left: 2.5em;
        position: sticky;
        top: 0;
    }
    main .burger div{
        cursor: pointer;
    }

    .my-menu{
        display: block;
    }
    .burger{display: block;}
    .overlay-ganggu{
        display: block;
    }
    .bm-overlay {
        background: rgba(0, 0, 0, 0.3);
    }
}